<h1>
  Add a new circuit
</h1>


<hr>

<form action="/create_circuit" method="post">

  <div class="form-group">
    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%=current_user.id%>">
  </div>

  <div class="form-group">
    <input type="hidden" id="workout_id" name="workout_id" class="form-control" value="<%=@workout.id%>">
  </div>

  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <%= select_tag("exercise_id", options_from_collection_for_select(Exercise.all, :id, :name, @circuit.try(:exercise_id)), :class => "form-control") %>
  </div>

  <div class="row">
    <div class = "col">
      <div class="form-group">
        <label for="sets">
          Sets
        </label>

        <input type="text" id="sets" name="sets" class="form-control">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="reps">
          Reps
        </label>

        <input type="text" id="reps" name="reps" class="form-control">
      </div>
    </div>

  </div>

  <div class="row align-items-end">
    <div class="col">
      <div class="form-group">
        <label for="weight">
          Weight
        </label>

        <input type="text" id="weight" name="weight" class="form-control">
      </div>
    </div>

    <div class="col">
      <div class="form-group">

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="unit" id="exampleRadios1" value="lbs" checked>
          <label class="form-check-label" for="exampleRadios1">
            lbs
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="unit" id="exampleRadios2" value="kgs">
          <label class="form-check-label" for="exampleRadios2">
            kgs
          </label>
        </div>
      </div>

    </div>

  </div>

  <div class="form-group">
    <label for="note">
      Note (Optional)
    </label>

    <input type="text" id="note" name="note" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create circuit
  </button>
</form>

<hr>

<a href="/circuits">
  Go back
</a>
