<h1>
  Add a new workout
</h1>


<hr>

<form action="/create_workout" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create workout
  </button>
</form>

<hr>

<a href="/workouts">
  Go back
</a>
