<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      FinalProject
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/bodyparts" class="dropdown-item">
              Bodyparts
            </a>
            <a href="/circuits" class="dropdown-item">
              Circuits
            </a>
            <a href="/exercises" class="dropdown-item">
              Exercises
            </a>
            <a href="/workouts" class="dropdown-item">
              Workouts
            </a>
            <a href="/batch_action_admin_circuits" class="dropdown-item">
              Batch Action Admin Circuits
            </a>
            <a href="/admin_circuits" class="dropdown-item">
              Admin Circuits
            </a>
            <a href="/batch_action_admin_admin_users" class="dropdown-item">
              Batch Action Admin Admin Users
            </a>
            <a href="/admin_admin_users" class="dropdown-item">
              Admin Admin Users
            </a>
            <a href="/batch_action_admin_exercises" class="dropdown-item">
              Batch Action Admin Exercises
            </a>
            <a href="/admin_exercises" class="dropdown-item">
              Admin Exercises
            </a>
            <a href="/batch_action_admin_workouts" class="dropdown-item">
              Batch Action Admin Workouts
            </a>
            <a href="/admin_workouts" class="dropdown-item">
              Admin Workouts
            </a>
            <a href="/batch_action_admin_bodyparts" class="dropdown-item">
              Batch Action Admin Bodyparts
            </a>
            <a href="/admin_bodyparts" class="dropdown-item">
              Admin Bodyparts
            </a>
            <a href="/admin_admin_comments" class="dropdown-item">
              Admin Admin Comments
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              <%= current_user.email %>
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
